{% include 'head.html' %}
{% include 'header.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">


<main class="page-section">
    <div class="container">
      <h1 class="section-title">About CareerComet</h1>
      <p class="section-text">
        CareerComet is your trusted partner in navigating the job market. Our mission is to simplify your job search journey
        by providing a user-friendly platform that connects talented professionals with reputable employers.
      </p>
      <p class="section-text">
        Whether you're a recent graduate or an experienced expert, CareerComet offers tools, insights, and listings to help
        you find a role that fits your career path. We’re passionate about helping people unlock opportunities and achieve
        professional success.
      </p>
      <p class="section-text">
        Our platform is constantly evolving to meet the dynamic needs of today’s job market. Join us and take your career to the next level!
      </p>
    </div>
  </main>
{% include 'footer.html' %}
{% include 'scripts.html' %}
